/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+3'); */

/* @font-face {
    font-family: 'Source Sans 3';
    src: url('../public/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf');
    font-style: normal;
} */

@font-face {
    font-family: 'Source Sans 3';
    src: url('../public/fonts/Source_Sans_3/SourceSans3-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../public/fonts/Source_Sans_3/SourceSans3-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../public/fonts/Source_Sans_3/SourceSans3-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../public/fonts/Source_Sans_3/SourceSans3-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../public/fonts/Source_Sans_3/SourceSans3-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../public/fonts/Source_Sans_3/SourceSans3-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../public/fonts/Source_Sans_3/SourceSans3-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
