:root {
    --main-bg-color: #F8F8F8;
    --light-bg-color: #D2DEE3;
    --shade-bg-color: #C0D6DF;

    --base-font: #1B4965;
    --light-font: #86ACC2;
    --highlight-font: #5FA8D3;
    --shadow-font: #C0D6DF;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    color: var(--base-font);
}

nav {
    font-weight: bold;
}

footer {
    background-color: var(--light-bg-color);
    color: var(--light-font);
    font-weight: 600;
}
