:root {
    --main-bg-color: #f8f8f8;
    --light-bg-color: #d2dee3;
    --shade-bg-color: #c0d6df;

    --base-font: #1b4965;
    --light-font: #86acc2;
    --highlight-font: #5fa8d3;
    --shadow-font: #c0d6df;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    color: var(--base-font);
}

nav {
    font-weight: bold;
}

footer {
    background-color: var(--light-bg-color);
    color: var(--light-font);
    font-weight: 600;
}
